ul.sidebar.navbar-nav
      li.nav-item.active
        a.nav-link(href='/grade')
          i.fas.fa-fw.fa-tachometer-alt
          span Dashboard
      li.nav-item.dropdown
        a#pagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-fw.fa-folder
          span Classes
        .dropdown-menu(aria-labelledby='pagesDropdown')
          h6.dropdown-header Student:
          a.dropdown-item(href='/grade/addstudent') Add New Student
          a.dropdown-item(href='forgot-password.html') Add New Grade
          .dropdown-divider
          h6.dropdown-header Courses:
          a.dropdown-item(href='/grade/course') Add New Course
          .dropdown-divider
          h6.dropdown-header Other Services:
          a.dropdown-item(href='404.html') Update Student 
      li.nav-item
        a.nav-link(href='charts.html')
          i.fas.fa-fw.fa-chart-area
          span Charts
      li.nav-item
        a.nav-link(href='tables.html')
          i.fas.fa-fw.fa-table
          span Tables