<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Research</h2>
      <div>
        <img src="assets/research.jpg" style="width:100%">
      </div>
      <br /> 
      <h5>Research Interests</h5>
      <ul class="list-group">
          <li class="list-group-item">Phishing attack detection</li>
          <li class="list-group-item">Data science and applications</li>
          <li class="list-group-item">Network and web application security</li>
          <li class="list-group-item">Computer Science pedagogy</li>
      </ul>
      <br />
      <h5><a href="https://scholar.google.com/citations?user=--sMoY0AAAAJ&hl=en" target="_blank">Google Scholar</h5>
        <h5><a href="https://www.researchgate.net/profile/Ram_Basnet2" target="_blank">ResearchGate</a></h5>
        <h5><a href="http://conquer.cra.org/" target="_blank">Ungergraduate CS Research</a></h5>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>PUBLICATIONS</h2>
      <br>
      <table class="table table-striped">
          <tbody>
            <tr>
              <td>
                <a href="research/Basnet-PhD-Dissertation.pdf" target="_blank">Detecting Phishing Attacks: A 
                Comprehensive Approach </a><br />
                Ram B. Basnet <br />
                <i>New Mexico Institute of Mining and Technology</i>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://doi.org/10.5430/ijhe.v7n5p114" target="_blank">
                Developing Next Generation of Innovators: Teaching Entrepreneurial Mindset Elements across Disciplines</a> <br />
                <a href="http://www.sciedu.ca/journal/index.php/ijhe/article/view/13967/8797" target="_blank">PDF</a> <br />
                L. S. Nadelson, A. Palmer, T. Benton, R. Basnet, M. Bissonette, et al.<br />
                <em>International Journal of Higher Education, Sept. 2018. </em>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://doi.org/10.1007/s10639-018-9787-2" target="_blank">
                Social network analysis of twitter use during the AERA 2017 annual conference </a> <br />
                <a href="https://rdcu.be/4jhu" target="_blank">PDF</a> <br />
                D. J. Lemay, R. B. Basnet, T. Doleck, and P. Bazelais<br />
                <em>Education and Information Technologies, August 2018. </em>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://doi.org/10.29333/ejmste/93190" target="_blank">
                Exploring Bimodality in Introductory Computer Science Performance Distributions </a> <br />
                <a href="research/ExploringBimodality.pdf" target="_blank">PDF</a> <br />
                R. B. Basnet, L. K. Payne, T. Doleck, D. J. Lemay, and P. Bazelais<br />
                <em>EURASIA Journal of Mathematics, Science and Technology Education, July 2018, 14(10). </em>
              </td>
            </tr>
            <tr>
                <td>
                  <a href="http://rdcu.be/wO4P" target="_blank">
                  Exploring computer science students' continuance intentions to use Kattis </a> <br />
                  <a href="research/kattis.pdf" target="_blank">PDF</a> <br />
                  R. B. Basnet, T. Doleck, D. J. Lemay, and P. Bazelais<br />
                  <em>Journal of Computers in Education, Springer, Oct. 2017. </em>
                </td>
            </tr>
            <tr>
                <td>
                  <a href="research/ComputationalThinking.pdf" target="_blank">
                    Algorithmic thinking, cooperativity, creativity, critical thinking, and problem solving: exploring
                    the relationship between computational thinking skills and academic performance </a> <br />
                    <a href="research/ComputationalThinking.pdf" target="_blank">PDF</a> <br />
                    T. Doleck, P. Bazelais, D. J. Lemay, A. Saxena, R. B. Basnet<br />
                    <em>Journal of Computers in Education, Springer, Aug. 2017. </em>
                </td>
            </tr>
             <tr>
                <td>
                <a href="research/ModelingLearnerBehaviors.pdf" target="_blank">
                  Mining learner-system interaction data: implications for modeling 
                  learner behaviors and improving overlay models </a> <br />
                  <a href="research/ModelingLearnerBehaviors.pdf" target="_blank">PDF</a> <br />
                  T. Doleck, R. Basnet, E. Poitras &amp; S. Lajoie <br />
                  <em>Journal of Computers in Education, Springer, Aug. 2015. </em>
                </td>
            </tr>
            <tr>
              <td>
                <a href="research/IEEEIACC_HMM.pdf" target="_blank">Towards examining learner behaviors in a medical intelligent tutoring system: 
                  A Hidden Markov Model approach </a><br />
                  <a href="research/IEEEIACC_HMM.pdf" target="_blank">PDF</a><br />
                  T. Doleck, R. Basnet, E. Poitras, S. Lajoie <br />
                  <em>In Proc. of the 2015 IEEE International Conference on Advance Computing Conference (IACC 2015),
                  June 2015, Banglore, India.</em>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.researchgate.net/publication/282953973_The_Critical_Feature_Dimension_and_Critical_Sampling_Problems" target="_blank">
                The Critical Feature Dimension and Critical Sampling Problems </a><br />
                <a href="https://www.researchgate.net/publication/282953973_The_Critical_Feature_Dimension_and_Critical_Sampling_Problems" target="_blank">PDF </a> <br />
                B. M. Ribeiro, A. Sung, D. Suryakumar and R. Basnet. <br />
                <em>In Proc. of the International Conference on Pattern Recognition Applications and Methods (ICPRAM 2015), 
                January 2015, Lisbon, Protugal.</em>
              </td>
            </tr>
            <tr>
              <td>
                Towards Developing a Tool to Detect Phishing URLs: A Machine Learning Approach. <br />
					      <a href="research/IEEECICTPhishingTools.pdf" target="_blank">PDF</a><br />
            		Basnet, R.B., Doleck, T. <br />
            		<em>In Proceedings of 2015 IEEE International Conference on Computational Intelligence & Communication Technology (CICT), Feb. 2015. </em>
              </td>
            </tr>
            <tr>
              <td>
                Exploring the Link Between Initial and Final Diagnosis in a Medical 
            		Intelligent Tutoring System <br />
					      <a href="research/ExploringLinkMedical.pdf" target="_blank">PDF</a><br />
            		Doleck, T., Basnet, R. B., Poitras, E., &amp; Lajoie, S. <br />
            		<i>In Proceedings of IEEE International Conference on MOOC, 
            		Innovation and Technology in Education (MITE) </i>, India: IEEE. 2014.<br />
              </td>
            </tr>
            <tr>
              <td>
                BioWorldParser: A Suite of Parsers for Leveraging Educational Data Mining 
                Techniques<br />
                <a href="research/BioWorldParser.pdf" target="_blank">PDF</a> <br />
                Doleck, T., Basnet, R. B., Poitras, E., &amp; Lajoie, S. <br />
                <i>In Proceedings of IEEE International Conference on MOOC, Innovation 
                and Technology in Education (MITE)</i>, India: IEEE, 2014.
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/ExpertNoviceCWLC.pdf" target="_blank">Augmenting the 
                  Novice-Expert Overlay Model in an Intelligent Tutoring System: Using 
                  Confidence-Weighted Linear Classifiers </a><br />
                  <a href="research/ExpertNoviceCWLC.pdf" target="_blank">PDF</a> <br />
                  Tenzin Doleck, Ram B. Basnet, Eric Poitras and Susan Lajoie <br />
                  <em>In Proceedings of IEEE International Conference on Computational 
                  Intelligence & Computing Research (ICCIC), </em> Tamil Nadu, India, 2014.
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/jisis-PhishingWebpages.pdf" target="_blank">Learning to Detect Phishing Webpages</a> <br />
            		Ram B. Basnet and Andrew H. Sung <br />
					      <a href="http://isyou.info/jisis/vol4/no3/jisis-2014-vol4-no3-02.pdf" target="_blank">PDF</a> <br />
            		<i>JISIS - Journal of Internet Services and Information Security, pp. 21-39, Vol. 3, No. 4, August, 2014.</i>
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/IJRET_PhishingURLs.pdf" target="_blank">Learning to Detect Phishing URLs</a> <br />
            		<a href="research/IJRET_PhishingURLs.pdf" target="_blank">PDF</a> <br />
					      Ram B. Basnet, Andrew H. Sung, and Quingzhong Liu<br />
            		<em>IJRET - International Journal of Research in Engineering and Technology, Vol. 3, Issue 6, June 2014.</em>
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/MiningWebToDetectPhishingURLs.pdf" target="_blank">Mining Web to Detect Phishing URLs </a><br />
            		<a href="research/MiningWebToDetectPhishingURLs.pdf" target="_blank">PDF</a> <br />
					      Ram B. Basnet and Andrew H. Sung <br />
            		<i>Proceedings of the 11th International Conference on Machine Learning and Applications (ICMLA),</i> pp. 568-573. Boca Raton, FL, USA 2012.
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/FeatureSelectionForImprovedPhishingDetection.pdf">Feature Selection for Improved Phishing Detection</a><br />
                <a href="research/FeatureSelectionForImprovedPhishingDetection.pdf">PDF</a><br />
                Ram B. Basnet, Andrew H. Sung, and Quingzhong Liu<br />
                <i>Proceedings of the 25th International Conference on Industrial, Engineering &amp; Other Applications of Applied Intelligent Systems (IEA/AIE 2012),</i> pp. 252-261. Dalian, China, Jun. 2012.        
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/RuleBasedPhishingAttackDetectionFinal.pdf">Rule-Based Phishing Attack Detection</a><br />
                  <a href="research/RuleBasedPhishingAttackDetectionFinal.pdf">PDF</a> <br />
                  Ram B. Basnet, Andrew H. Sung, and Quingzhong Liu<br />
                  H. R. Arabnia, M. R. Grimaila, G. Markowsky, S. Aissi (Eds.)<br />
                  <em>Proceedings of the International Conference on Security and Management-SAM'11,</em> pp. 624-630, Las Vegas, NV, USA, Jul. 2011.       
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/PhishingEmailCWLC.pdf" target="_blank">Classifying Phishing Emails Using Confidence-Weighted Linear Classifiers</a><br />
                <a href="research/PhishingEmailCWLC.pdf" target="_blank">PDF</a><br />
                Ram B. Basnet and Andrew H. Sung,<br />
                <i>Proceedings of the International Conference on Information Security and Artificial Intelligence (ISAI 2010),</i> Vol. 1, pp. 108-112. Chengdu, China, Dec. 2010.         
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/EventDetectionAndLocalizationUsingSensorNetworks.pdf" target="_blank">Event Detection and Localization Using Sensor Networks</a><br />
                <a href="research/EventDetectionAndLocalizationUsingSensorNetworks.pdf" target="_blank">PDF</a> <br />
					      Ram B. Basnet and Srinivas Mukkamala, <br />
                <i>Proceedings of International Conference on Wireless Networks</i>, Vol. II, pp. 103-108, Las Vegas, Nevada, USA, Jul. 2009.  
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/ClusteringSimilarityAndItsApplications.pdf" target="_blank">A Similarity Measure for Clustering and its Applications</a><br />
                <a href="research/ClusteringSimilarityAndItsApplications.pdf" target="_blank">PDF</a><br />
                Guadalupe J. Torres, Ram B. Basnet, Andrew H. Sung, and Srinivas Mukkamala,<br />
                <i>Proceedings of World Academy of Science, Engineering and Technology</i>, Vol. 31, ISSN 
                1307-6884, pp.490-496, Vienna, Austria, July 2008.   
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/TBTC.pdf" target="_blank">Translation Based Foreign Language Text Categorization</a><br />
                Ram B. Basnet, Guadalupe J. Torres, Srinivas Mukkamala, Andrew H. Sung, Bernardete M. Ribeiro,<br />
                unpublished.   
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/TranslationBasedArabicLanguageTC.pdf" target="_blank">Translation Based Arabic Text Categorization</a><br />
                Madhu K. Shankarapani, Ram B. Basnet, Srinivas Mukkamala, Andrew H. Sung, and Bernardete M. Ribeiro,<br />
                <i>Proceedings of Second International Conference on Information Systems Technology and Management</i>, 2008.       
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/DetectionOfPhishingAttacks.pdf" target="_blank">Detection of Phishing Attacks: A Machine Learning Approach</a><br />
                <a href="research/DetectionOfPhishingAttacks.pdf" target="_blank">PDF</a><br />
                Ram B. Basnet, Srinivas Mukkamala, and Andrew. H. Sung,<br />
                <i>Soft Computing Applications in Industry</i>, Springer, pp. 373-383, 2008.      
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/DetectingCDMAAttacks.pdf" target="_blank">Detecting Coordinated Distributed Multiple Attacks </a><br />
                <a href="research/DetectingCDMAAttacks.pdf" target="_blank">PDF</a><br />
                S. Mukkamala, K. Yendrapalli, R. B. Basnet, A. H. Sung, <br />
                <i>21st International Conference on Advanced Information Networking and Applications (AINA 2007)</i>, Vol. 1, Niagara Falls, Canada, May 2007.        
              </td>
            </tr>
            <tr>
              <td>
                <a href="research/DetectingHoneypots.pdf" target="_blank">Detection of Virtual Environments and Low Interaction Honeypots </a><br />
                <a href="research/DetectingHoneypots.pdf" target="_blank">PDF</a><br />
					      S. Mukkamala, K. Yendrapalli, R. B. Basnet, M. K. Shankarpani, A. H. Sung, <br />
                <i>Information Assurance and Security Workshop, IEEE SMC</i>, Vol. 1, pp. 92-98, West Point, NY, June 2007.        
              </td>
            </tr>
          </tbody>
        </table>
      <br>
    </div>
  </div>
</div>