<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dr. Ram Basnet's Homepage</title>
  <meta charset="utf-8">
  <link rel="icon" href="assets/basnet_icon32.ico" type="image/gif" sizes="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
  <style>
  </style>
</head>
<body>

<div id="header" class="jumbotron text-center" style="margin-bottom:0">
  <a href="http://www.coloradomesa.edu" target="_blank">
    <img src="assets/cmu-logo.png" style="position: absolute; top:5px; left:10px; height:75px;" >
  </a>
  <h1>Dr. Ram Basnet</h1>
  <p>Associate Professor of Computer Science</p> 
</div>

<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="index.html"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a id="currentPage" class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="teaching.html">Teaching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="research.html">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resources.html">Resources</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li> 
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5><a href="https://www.coloradomesa.edu/directory/computer-science-mathematics-statistics/ram-basnet.html" target="_blank">CMU Profile</a></h5>
      <h5><a href="https://www.linkedin.com/in/rambasnet/" target="_blank"> LinkedIn Profile</a></h5>
      <div id="profileImg">
        <img src="assets/profile.png" style="width:100%">
      </div>
      <p>I am a faculty of Computer Science at <a href="http://www.coloradomesa.edu" target="_blank">Colorado Mesa University (CMU)</a>.</p>
      <p>I'm a Certified Ethical Hacker (CEH) and have been practicing ethical hacking since I was a graduate student at New Mexico Tech (NMT).</p>
      <p>I discovered and responsibly disclosed several critical security flaws in a web application used by major health insurance providers in Colorado and 
        "hopefully" helped protecting 
        electronic personal health information of tens of thousands of Coloradoans.
      </p>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>CURRENT SCHEDULE</h2>
      <h5><a href="teaching.html">This Semester's Schedule</a></h5>
      <br>
      <h2>BRIEF BACKGROUND</h2>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2018 - Present</td>
              <td>Associate Professor, CMU</td>
            </tr>
            <tr>
              <td>2013 - 2017</td>
              <td>Assistant Professor, CMU</td>
            </tr>
            <tr>
              <td>2014 - Present</td>
              <td><a href="http://www.colemanfoundation.org/what_we_fund/entrepreneurship/overview.html" target="_blank">Coleman Fellow of Entrepreneurship Education</a></td>
            </tr>
            <tr>
              <td>2013 - 2017</td>
              <td>Founder & Principal Consultant, iSecureUs, LLC</td>
            </tr>
              <tr>
                <td>2012 - 2013</td>
                <td> CTO, Sage Technology Partners, Inc.</td>
              </tr>
              <tr>
                <td>2010 - 2011</td>
                <td> PhD, New Mexico Tech, (Detecting Phishing Attacks)</td>
              </tr>
              <tr>
                <td>2008 - 2010</td>
                <td> Research Scientist II, ICASA, New Mexico Tech</td>
              </tr>
              <tr>
                <td>2005 - 2007		
                </td><td> MS, Computer Science, New Mexico Tech</td>
              </tr>
              <tr>
                <td>2001 - 2004</td>
                <td> BS, Computer Science, Colorado Mesa University (Minor in Math)</td>
              </tr>
          </tbody>
        </table>
      <br>
      <h2>LEISURE</h2>
      <h5>Grand Mesa, CO, Spring 2017</h5>
      <div><img src="assets/honda.jpg" width="100%"></div>
      <p>I enjoy riding my Honda Phantom when I can.</p>
      <p>I follow the mantra "work hard, play hard!"</p>
      <br>
      <h5>Everest Base Camp, Nepal, Spring 2018</h5>
      <div><img src="assets/EBC.JPG" width="100%"></div>
      <p>I love hiking. I've done one 14er of Colorado and would like to do all 50! </p>
      <p>I did an epic trek to the Everest Base Camp and Chhola and Renjo Passes of Khumbu region of Nepal along with 3 friends in the Spring 2018.</p>
      <p>I play soccer in <a href="http://gvas.leaguetoolbox.com/site">Grand Valley Adult Soccer league</a>.</p>
    </div>
  </div>
</div>

<div id="footer">
    <p class="text-center"><a href="index.html">Home</a> | <a href="teaching.html">Teaching</a> | 
      <a href="research.html">Research </a> | <a href="resources.html">Resources</a> | <a href="contact.html">
        Contact </a>&nbsp; &nbsp; &nbsp;
      &copy; 2018</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46738331-1', 'coloradomesa.edu');
  ga('send', 'pageview');

</script>
</body>
</html>
