head
    title= title
    meta(charset="utf-8")
    link(rel="icon", href="/assets/basnet_icon32.ico", type="image/gif", sizes="32x32")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
