div#header(class="jumbotron text-center" style="margin-bottom:0")
  | <a href="http://www.coloradomesa.edu" target="_blank">
  | <img src="assets/cmu-logo.png" style="position: absolute; top:5px; left:10px; height:75px;" >
  |</a>
  |<h1>Dr. Ram Basnet</h1>
  |<p>Associate Professor of Computer Science</p> 
