extends layout

append head
    // Custom styles for this template
    link(href='/stylesheets/sb-admin.css' rel='stylesheet')

block content
  #wrapper
    // Sidebar
    include includes/sidebar.pug

    #content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Dashboard
          li.breadcrumb-item.active Overview
        // Icon Cards
        .row
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-primary.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fas.fa-fw.fa-comments
                .mr-5 26 New Messages!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fas.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-warning.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fas.fa-fw.fa-list
                .mr-5 11 New Tasks!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fas.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-success.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fas.fa-fw.fa-shopping-cart
                .mr-5 123 New Orders!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fas.fa-angle-right
          .col-xl-3.col-sm-6.mb-3
            .card.text-white.bg-danger.o-hidden.h-100
              .card-body
                .card-body-icon
                  i.fas.fa-fw.fa-life-ring
                .mr-5 13 New Tickets!
              a.card-footer.text-white.clearfix.small.z-1(href='#')
                span.float-left View Details
                span.float-right
                  i.fas.fa-angle-right
        // Area Chart Example
        .card.mb-3
          .card-header
            i.fas.fa-chart-area
            |  Area Chart Example
          .card-body
            canvas#myAreaChart(width='100%' height='30')
          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
        
        // Display the following card only if courses array length is 1 or more
        if courses.length
          .card.mb-3
            .card-header
              i.fas.fa-table
              |  Course list
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th Name
                      th Description
                      th CRN
                      th Section
                      th Tools
                  tfoot
                    tr
                      th Name
                      th Description
                      th CRN
                      th Section
                      th Tools
                  tbody
                    each course in courses
                      tr
                        td=course.name
                        td=course.fullName
                        td=course.crn
                        td=course.section
                        td
                          - var link = "/grade/course/" + course._id
                          a.btn.btn-primary(role="button" href= link) Edit
                          form(method="POST" action="/grade/deletecourse")
                            input(type="hidden" name= courseID value= course._id)
                            button.btn.btn-danger(type="submit") Delete


            .card-footer.small.text-muted
              | Updated yesterday at 11:59 PM

        // DataTables Example
        .card.mb-3
          .card-header
            i.fas.fa-table
            |  Students' Grades
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                thead
                  tr
                    th F. Name
                    th L. Name
                    th test1
                    th test2
                    th test3
                    th Average
                    th Grade
                tfoot
                  tr
                    th F. Name
                    th L. Name
                    th test1
                    th test2
                    th test3
                    th Average
                    th Grade
                tbody
                  tr
                    td Tiger
                    td Nixon
                    td 100
                    td 100
                    td 100
                    td 100
                    td A
                  tr
                    td Garrett
                    td Winters
                    td 90
                    td 90
                    td 90
                    td 90
                    td A
                  tr
                    td Johnny
                    td Lee
                    td 50
                    td 50
                    td 50
                    td 50
                    td F
          .card-footer.small.text-muted
            | Updated yesterday at 11:59 PM
        
        
      // /#wrapper
      // Scroll to Top Button
      a.scroll-to-top.rounded(href='#page-top')
        i.fas.fa-angle-up
      // Logout Modal
      #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title
                | Ready to Leave?
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              | Select &quot;Logout&quot; below if you are ready to end your
              | current session.
            .modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal')
                | Cancel
              a.btn.btn-primary(href='/grade/logout') Logout

