doctype
html
  include includes/head.pug
  // Custom styles for this template
  link(href="/stylesheets/sb-admin.css" rel="stylesheet")

  body.bg-dark
    block content

    include includes/foot.pug