// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Cloud Grading 2018

// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
//Core plugin JavaScript
script(src="/vendor/jquery-easing/jquery.easing.min.js")