extends modallayout

block content
  .container
    .card.card-login.mx-auto.mt-5
      .card-header Login
      if error
        .alert.alert-danger(role="alert") #{error}

      .card-body
        form(method="POST", action="")
          .form-group
            .form-label-group
              input#inputEmail.form-control(type='email' name="email" placeholder='Email address' required='required' autofocus='autofocus')
              label(for='inputEmail') Email address
          .form-group
            .form-label-group
              input#inputPassword.form-control(type='password' name="password" placeholder='Password' required='required')
              label(for='inputPassword') Password
          .form-group
            .checkbox
              label
                input(type='checkbox' value='remember-me')
                |                   Remember Password
          button.btn.btn-primary.btn-block(type="submit") Login
        .text-center
          a.d-block.small.mt-3(href='/grade/register') Register an Account
          a.d-block.small(href='/grade/forgotpass') Forgot Password?


