doctype
html
  include ./includes/head.jade
  // Custom styles for this template
  link(href="/stylesheets/sb-admin.css", rel="stylesheet")

  body.bg-dark
    block content

    include ./includes/foot.jade