extends layout

append head
  // Custom styles for public pages
  link(href='/stylesheets/full-width-pics.css' rel='stylesheet')


block content
  // Header - set the background image for the header in the line below
  header.py-5.bg-image-full(style="background-image: url('https://unsplash.it/1900/1080?image=1076');")
    img.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200&text=Logo' alt='')
  // Content section
  section.py-5
    .container
      h1 Section Heading
      p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
  // Image Section - set the background image for the header in the line below
  section.py-5.bg-image-full(style="background-image: url('https://unsplash.it/1900/1080?image=1081');")
    // Put anything you want here! There is just a spacer below for demo purposes!
    div(style='height: 200px;')
  // Content section
  section.py-5
    .container
      h1 Section Heading
      p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.
