<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dr. Ram Basnet - Teaching</title>
	<meta charset="utf-8">
	<link rel="icon" href="assets/basnet_icon32.ico" type="image/gif" sizes="32x32">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
	</script>
</head>
<body>

<div id="header" class="jumbotron text-center" style="margin-bottom:0">
  <a href="http://www.coloradomesa.edu" target="_blank">
    <img src="assets/cmu-logo.png" style="position: absolute; top:5px; left:10px; height:75px;" >
  </a>
  <h1>Dr. Ram Basnet</h1>
  <p>Associate Professor of Computer Science</p> 
</div>

<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="index.html">Home</a>
			</li>
			<li class="nav-item">
        <a id="currentPage" class="nav-link" href="teaching.html">Teaching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="research.html">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="resources.html">Resources</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li> 
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Teaching</h2>
      <div class="profileImg">
        <img src="assets/teaching.png" style="width:100%">
      </div>
      <br /> 
      <h5>Teaching Interests</h5>
      <ul class="list-group">
				<li class="list-group-item">Cyber Security</li>
				<li class="list-group-item">Python, C++, Java, Database, JavaScript</li>
				<li class="list-group-item">Data Science</li>
				<li class="list-group-item">Web Design and Secure Web App Development</li>
      </ul>
      <br />
      <h5>Courses Taught at CMU</h5>
				<button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Taught 6 times">
					CSCI 106: Web Page I <span class="badge badge-light">6</span>
				</button>
        <button class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="Taught 4 times">
          CSCI 110: Beg. Prog. Python & Lab <span class="badge badge-light">4</span>
        </button>
        <div class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="Taught 5 times">
          CSCI 111: CS1 - Foundations of CS <span class="badge badge-light">5</span>
        </div>
        <div class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="Taught 4 times">
          CSCI 112: CS2 - Data Structures <span class="badge badge-light">4</span>
        </div>
        <div class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="Taught 1 time">
          CSCI 206: Web Page II <span class="badge badge-light">1</span>
        </div>
        <div class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Taught 5 times">
          CSCI 310: Adv. Prog. Python <span class="badge badge-light">5</span>
        </div>
        <div class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Taught 5 times">
          CSCI 370: Computer Security <span class="badge badge-light">5</span>
        </div>
        <div class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Taught 3 times">
          CSCI 420: Cyber Security <span class="badge badge-light">3</span>
        </div>
        <div class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Taught 3 times">
          CSCI 465: Net/App Security <span class="badge badge-light">3</span>
        </div>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>CURRENT SCHEDULE</h2>
      <br>
      <div class="table-responsive-sm">
      <table class="table table-sm table-bordered">
          <thead>
            	<tr>
            		<th width="16%"></th>
            		<th width="16%">Mon</th>
            		<th width="16%">Tues</th>
            		<th width="16%">Wed</th>
            		<th width="16%">Thurs</th>
            		<th width="16%">Fri</th>
              </tr>
          </thead>
            <tbody>
            	<tr>
            		<th>
            			8:00
            		</th>
            		<td width="16%" class="schedule" rowspan="2">Beg Python<br />WS 120</td>
								<td width="16%" class="schedule" rowspan="2">Python Lab<br />WS 120</td>
								<td width="16%" class="schedule" rowspan="2">Beg Python <br />WS 120</td>
								<td width="16%" class="schedule" rowspan="2">Python Lab <br />WS 120</td>
								<td width="16%" class="schedule" rowspan="2">Beg Python <br />WS 120</td>
            	</tr>
            	<tr>
            		<th>
            			8:30
            		</th>
            	</tr>
            	<tr>
            		<th>
            			9:00
            		</th>
								<td width="16%" class="schedule" rowspan="2">Web 2<br />WS 118</td>
								<td width="16%" class="schedule" rowspan="2">Adv Python<br />WS 118</td>
								<td width="16%" class="schedule" rowspan="2">Web 2 <br />WS 118</td>
								<td width="16%" class="schedule" rowspan="2">Adv Python <br />WS 118</td>
								<td width="16%" class="schedule" rowspan="2">Web 2 <br />WS 118</td>
            	</tr>
            	<tr>
            		<th>
            			9:30
								</th>
            	</tr>
            	<tr>
            		<th>
            			10:00
            		</th>
            		<td width="16%" rowspan="2" class="officehour">Office Hr <br />WS 119 B</td>
            		<td width="16%" rowspan="2" class="officehour">Office Hr <br />WS 119 B</td>
            		<td width="16%" rowspan="2" class="officehour">Office Hr <br />WS 119 B</td>
								<td width="16%" rowspan="2" class="officehour">Office Hr <br />WS 119 B</td>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			10:30
            		</th>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			11:00
            		</th>
            		<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			11:30
            		</th>
            		<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			12:00
            		</th>
            		<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			12:30
            		</th>
            		<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			13:00
            		</th>
								<td width="16%" rowspan="2" class="schedule">CS 1 <br />WS 120</td>
            		<td width="16%" rowspan="2" class="schedule">CS 1 <br />WS 120</td>
            		<td width="16%" rowspan="2" class="schedule">CS 1 <br />WS 120</td>
								<td width="16%" rowspan="2" class="schedule">CS 1 <br />WS 120</td>
								<td width="16%" rowspan="2" class="officehour">Office Hr <br />WS 119 B</td>
            	</tr>
            	<tr>
            		<th>
            			13:30
								</th>
            	</tr>
            	<tr>
            		<th>
            			14:00
            		</th>
								<td>&nbsp;</td>
								<td width="16%">&nbsp;</td>
								<td>&nbsp;</td>
								<td width="16%">&nbsp;</td>
            		<td width="16%">&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			14:30
            		</th>
								<td width="16%">&nbsp;</td>
								<td width="16%">&nbsp;</td>
								<td width="16%">&nbsp;</td>
								<td width="16%">&nbsp;</td>
								<td width="16%">&nbsp;</td>
            	</tr>
            	<tr>
            		<th>
            			15:00
            		</th>
								<td width="16%" rowspan="2" class="schedule">Net App Sec <br />WS 118</td>
            		<td width="16%">&nbsp;</td>
            		<td width="16%" rowspan="2" class="schedule">Net App Sec <br />WS 118</td>
								<td width="16%">&nbsp;</td>
								<td width="16%" rowspan="2" class="schedule">Net App Sec <br />WS 118</td>
            	</tr>
            	<tr>
            		<th>
            			15:30
            		</th>
            		<td width="16%">&nbsp;</td>
					      <td width="16%">&nbsp;</td>
            	</tr>
          </tbody>
        </table>
      </div>
      <br>
    </div>
  </div>
</div>

<div id="footer">
	<p class="text-center"><a href="index.html">Home</a> | <a href="teaching.html">Teaching</a> | 
		<a href="research.html">Research </a> | <a href="resources.html">Resources</a> | <a href="contact.html">
			Contact</a> &nbsp; &nbsp; &nbsp;
		&copy; 2018</p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46738331-1', 'coloradomesa.edu');
  ga('send', 'pageview');

</script>
</body>
</html>
